body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 1 auto;

    width: 50%;
    margin-left: 25%;
    margin-top: 5%;

}
.navigation{
    background-color: skyblue;
}
.logo{
    width: 250px;
    position: absolute;
    left: 60%;
    top:-50px;
}
.chatBox {
    background-color: rgb(255, 246, 246, 1);
 
}
.chatPre{
    background-image: url("https://blog.golang.org/go-brand/logos.jpg");
    background-color: rgb(255, 255, 255, 0.5);
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: 300px auto;
    opacity: 0.5;
}


#chat-messages {
    min-height: 10vh;
    height: 60vh;
    width: 100%;
}